body {
    font-family: Arial, sans-serif;
    background-color: red;
    margin: 0;
    padding: 20px;
}

body div {
    margin: 0.6rem;
}

#settings {
    display: none;
}

#aboutMe {
    background-color: rgb(255, 121, 244);
}

#experience {
    background-color: orange;
}

#knowledge {
    background-color: rgb(13, 226, 13);
}

#careerPreferences {
    background-color: yellow;
}

#main_wrapper {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.section-style {
    margin-bottom: 20px;
}

.image-style {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.link-style {
    color: #007bff;
    text-decoration: none;
}

.link-style:hover {
    text-decoration: underline;
}


h1 {
    text-align: center;
}

h2 {
    margin-top: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.section {
    margin-bottom: 40px;
}

.section-header {
    background-color: #f2f2f2;
    padding: 10px;
}

.section-content {
    padding: 10px;
}

.section-content p {
    margin: 5px 0;
}

.section-content ul {
    padding-left: 20px;
}