body {
    background-color: #f2f2f2;
}

h1,
h2,
h3,
h4,
p {
    background-color: rgba(0, 255, 0, 0.2);
}

h5,
h6,
h7,
h8 {
    background-color: pink;
}

a {
    background-color: rgba(255, 0, 0, 0.2);
}

.aboutMe {
    background-color: red;
}

.profile {
    background-color: rgb(241, 165, 242);
}

.experience {
    background-color: rgb(251, 156, 23);
}

.knowledge {
    background-color: rgb(169, 255, 65);
}

.languages {
    background-color: rgb(183, 255, 115);
}

.languages::before {
    color: rgb(113, 11, 238);
}

.hardSkills {
    background-color: rgb(183, 255, 115);
}

.hardSkills::before {
    color: rgb(113, 11, 238);
}

.softSkills {
    background-color: rgb(183, 255, 115);
}

.softSkills::before {
    color: rgb(113, 11, 238);
}

.studies {
    background-color: rgb(183, 255, 115);
}

.studies::before {
    color: rgb(113, 11, 238);
}

.careerPreferences {
    background-color: rgb(249, 225, 36);
}

.main_wrapper {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.link-style {
    color: #007bff;
}

.section-header {
    background-color: #f2f2f2;
}