body {
    background-color: #f2f2f2;
}

.aboutMe {
    background-color: antiquewhite;
}

.profile {
    background-color: rgb(241, 165, 242);
    background-color: antiquewhite;

}

.experience {
    background-color: rgb(251, 156, 23);
    background-color: antiquewhite;
}

.knowledge {
    background-color: rgb(169, 255, 65);
    background-color: antiquewhite;

}

.languages {
    background-color: rgb(183, 255, 115);
    background-color: antiquewhite;

}

.languages::before {
    color: rgb(113, 11, 238);

}

.hardSkills {
    background-color: rgb(183, 255, 115);
    background-color: beige;

}

.hardSkills::before {
    color: rgb(113, 11, 238);
}

.softSkills {
    background-color: rgb(183, 255, 115);
    background-color: beige;

}

.softSkills::before {
    color: rgb(113, 11, 238);
}

.studies {
    background-color: rgb(183, 255, 115);
    background-color: antiquewhite;

}

.studies::before {
    color: rgb(113, 11, 238);
}

.careerPreferences {
    background-color: rgb(249, 225, 36);
}

.main_wrapper {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.link-style {
    color: #007bff;
}

.section-header {
    background-color: #f2f2f2;
}